/* Variabili globali - colori per ciascuna emozione */

:root {
    /* Felicità */
    --emotion-happy-light: #ffeb80;
    --emotion-happy: #ffd700;
    --emotion-happy-dark: #caa800;

    /* Tristezza */
    --emotion-sad-light: #9ecfff;
    --emotion-sad: #1e90ff;
    --emotion-sad-dark: #00509e;

    /* Rabbia */
    --emotion-angry-light: #ff9480;
    --emotion-angry: #ff2a00;
    --emotion-angry-dark: #801500;

    /* Paura */
    --emotion-scared-light: #c89df2;
    --emotion-scared: #8a2ce3;
    --emotion-scared-dark: #49117f;

    /* Sorpresa */
    --emotion-surprised-light: #f1f195;
    --emotion-surprised: #e3e324;
    --emotion-surprised-dark: #8e8e0b;

    /* Disgusto */
    --emotion-disgusted-light: #c4f740;
    --emotion-disgusted: #81b107;
    --emotion-disgusted-dark: #283602;

    /* Speranza */
    --emotion-hopeful-light: #f1ce9b;
    --emotion-hopeful: #e2962b;
    --emotion-hopeful-dark: #9c600b;

    /* Ansia */
    --emotion-anxious-light: #f19bdd;
    --emotion-anxious: #e22bb7;
    --emotion-anxious-dark: #7c1163;

    /* Serenità */
    --emotion-serene-light: #cffef7;
    --emotion-serene: #53fae1;
    --emotion-serene-dark: #06c8ab;

    /* Frustrazione */
    --emotion-frustrated-light: #fa8e41;
    --emotion-frustrated: #b64f05;
    --emotion-frustrated-dark: #491e00;

    /* Nostalgia */
    --emotion-nostalgic-light: #6d6dca;
    --emotion-nostalgic: #313186;
    --emotion-nostalgic-dark: #0f0f29;

    /* Confusione */
    --emotion-confused-light: #c0adb5;
    --emotion-confused: #866775;
    --emotion-confused-dark: #3e3036;

    /* Tensione */
    --emotion-tense-light: #63ff69;
    --emotion-tense: #00e308;
    --emotion-tense-dark: #006304;

    /* Sconforto */
    --emotion-uncomfortable-light: #ca825a;
    --emotion-uncomfortable: #7d4628;
    --emotion-uncomfortable-dark: #1c1009;

    /* Soddisfazione */
    --emotion-satisfied-light: #fdfaea;
    --emotion-satisfied: #f3de75;
    --emotion-satisfied-dark: #d6b513;

    /* Interesse */
    --emotion-interested-light: #80f0bb;
    --emotion-interested: #1ad67e;
    --emotion-interested-dark: #0c643b;

    /* Noia */
    --emotion-bored-light: #eeecf7;
    --emotion-bored: #a292d1;
    --emotion-bored-dark: #5b44a0;
}


/* Tema scuro globale */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem 2rem;
    border-bottom: 1px solid #333;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: 100%;
}

.profile-icon {
    width: 32px;
    height: 32px;
    background-color: #666;
    border-radius: 50%;
}

main {
    padding: 2rem;
    margin-top: 20px;
    flex: 1;
}

.film-list {
    padding-left: 35px;
    padding-right: 35px;
    margin: 2rem 0;
    margin-top: 0.5rem;
    color: #fff;
}

.film-list h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.film-grid {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
}

.film-grid::-webkit-scrollbar {
    height: 8px;
}

.film-grid::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.film {
    width: 160px;
    height: 350px;
    flex: 0 0 auto;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 0.5rem;
    scroll-snap-align: start;
    text-align: center;
    transition: 0.15s ease;
}

.film a {
    display: inline-block;
    height: 100%;
}

.film p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    color: #ccc;
}

.film:hover {
    transform: scale(1.03);
}

.film img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.film-title {
    font-weight: bold;
    margin-top: 0.5rem;
}

.film-rating {
    font-size: 0.9rem;
    color: #cccccc;
}

.film-emotion {
    margin-top: 10px;
    font-size: 0.9rem;
}

/* Dettaglio Film */
.film-detail,
.person-detail {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 0px 15px rgb(10, 10, 10)) drop-shadow(0px 0px 25px rgba(10, 10, 10, 0.488));
}

.film-poster {
    order: 1;
    max-width: 300px;
    border-radius: 8px;
}

.person-img {
    order: 1;
    max-width: 270px;
    border-radius: 8px;
    aspect-ratio: 1 / 1.3;
    object-fit: cover;
}

.film-description {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 150px;
    outline: #333 solid 1px;
    padding-left: 7px;
    padding-right: 7px;
}

.film-info,
.person-info {
    order: 2;
}

.film-info h1 {
    margin: 0;
    font-size: 3.6rem;
}

.person-info h1 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 3.6rem;
}

.film-info p,
.person-info p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: #bbbbbb;
}

.film-info strong,
.person-info strong {
    color: #fff;
}

.film-rating-summary {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 8px;
}

/* Recensioni */
#reviews-container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #181818;
    border-radius: 12px;
    border: 1px solid #333;
}

#reviews-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.reviews-info {
    font-size: 2em;
    padding-bottom: 5px;
}

.review {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ddd;
}

.review p {
    line-height: 1.4;
}

.review strong {
    color: #fff;
}

.review em {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    color: #aaa;
}

.review hr {
    border: 0;
    border-top: 1px solid #444;
    margin-top: 1rem;
}

.nome-account {
    font-size: 1.2em;
}

.testo-recensione {
    margin: 0px;
}

.dati-recensione {
    margin: 0.2rem 0;
    margin-bottom: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #1e1e1e;
    color: #aaa;
    font-weight: bold;
    border-top: 1px solid #333;
}

button {
    background-color: #29654F;
    color: white;
    border: none;
    padding: 8px 19px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-weight: bold;
    font-size: 0.9rem;
}

button:hover {
    background-color: #204f3e;
}

button.active {
    background-color: #389B77;
    color: white;
}

.toggle-buttons {
    margin: 30px 0 10px;
}

.toggle-buttons button {
    font-size: 1.1em;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
    margin-top: 2rem;
    padding: 1.3rem;
    background-color: #181818;
    border-radius: 12px;
    border: 1px solid #333;
}

.persona-wrapper {
    width: 160px;
    height: 240px;
    flex: 0 0 auto;
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 0.5rem;
    scroll-snap-align: start;
    text-align: center;
    transition: 0.15s ease;
}

.actor {
    height: 280px;
}

.persona-wrapper:hover {
    transform: scale(1.03);
}

.persona img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.persona-info {
    margin-top: 8px;
    font-size: 0.9em;
}

.persona-ruolo {
    font-size: 0.85em;
    font-style: italic;
    margin-top: 4px;
    color: #ccc;
}

.person-films-list {
    margin-top: 1rem;
    background-color: #181818;
    border-radius: 12px;
    border: 1px solid #333;
}

.person-films-list #toggle-buttons {
    margin-top: 10px;
}

.container-login,
.container-register {
    width: 420px;
    margin: auto auto;
    background: #1e1e1e;
    border-radius: 8px;
    padding: 24px 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-login a,
.container-register a {
    text-decoration: underline;
    color: #389B77;
}

.container-login h2,
.container-register h2 {
    font-size: 2.8em;
    margin-bottom: 25px;
    margin-top: 21px;
    color: #389B77;
}

.container-login input[type="text"],
.container-register input[type="text"],
.container-login input[type="password"],
.container-register input[type="password"],
.container-login input[type="email"],
.container-register input[type="email"] {
    margin: 3px;
    padding: 4px;
    border-radius: 8px;
    background-color: #242424;
    color: #fff;
    font-size: 1em;
}

.container-login button,
.container-register button {
    margin-top: 13px;
    margin-bottom: 4px;
    font-size: 0.8em;
}

.light {
    color: #888;
}

.error {
    color: #bd2929
}

.user-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

#text-recensione {
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 8px;
    width: 20%;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    max-height: 350px;
    min-height: 120px;
    border: 2px solid #444;
    font-size: 0.85em;
    font-family: Arial, sans-serif;
}

#form-recensione input {
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 3px;
    border: 2px solid #444;
    margin-bottom: 10px;
    font-size: 1rem;
}

#charcount {
    font-size: 0.7em;
}

.charcount-container {
    display: flex;
    flex-direction: row-reverse;
}

#form-recensione {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ddd;
}

#reviews {
    padding-top: 5px;
}

select {
    background-color: #1e1e1e;
    color: white;
    border-radius: 3px;
    border: 2px solid #444;
    margin-bottom: 10px;
    font-size: 1rem;
}

#ricerca-film {
    display: flex;
    align-items: center;
}

#ricerca-film input[type="text"] {
    margin-right: 10px;
    height: 30px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    border: 2px solid #444;
    width: 500px;
    font-size: 0.9em;
    padding-left: 6px;
}

/* Rende i placeholder corsivi nelle textbox */
::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

.found-films {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 0;
    justify-items: start;
}


.ricerca-film h1 {
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 15px;
}

#container-filtri {
    background-color: #181818;
    border-bottom: 1px solid #222;
    width: 100%;
    display: flex;
    justify-content: center;
}

#form-filtri {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    margin: 20px 0;
}

#filtri {
    display: flex;
    gap: 15px;
}

#form-filtri div div {
    display: flex;
    gap: 5px;
    align-items: center;
}

#form-filtri div select {
    margin: 0;
}

#form-filtri label {
    font-weight: bold;
}